body {
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: calc(100vh - 365px);
}

/*** Bootstrap Overrides ***/
.bg-dark {
    background-color: #666 !important;
}

/*** Header ***/
.tmtrails-logo {
    height: 80px;
}
.hero-section {
    background-image: url('/assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.about-section {
    background-image: url('/assets/images/about-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.hero-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 41, 55, 0.42); /* Adjust color and opacity */
    z-index: 2;
}

.hero-section .container {
    position: relative;
    z-index: 3;
}
/* Center nav items in mobile menu */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

/*Header*/

.custom-header-bg {
    background-color: #242937;
}
.custom-header-padding {
    padding-left: 10vh;
    padding-right: 10vh;
}

.custom-header-bg .nav-link,
.custom-header-bg .navbar-brand {
    color: #fff !important;
}
/*** Footer ***/
