body {
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: calc(100vh - 365px);
}

/*** Bootstrap Overrides ***/
.bg-dark {
    background-color: #666 !important;
}

/*** Header ***/
.tmtrails-logo {
    height: 80px;
}
/* Center nav items in mobile menu */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

/*Header*/

.custom-header-bg {
    background-color: #242937;
}
.custom-header-padding {
    padding-left: 10vh;
    padding-right: 10vh;
}

.custom-header-bg .nav-link,
.custom-header-bg .navbar-brand {
    color: #fff !important;
}
/*** Footer ***/
